@import url('https://fonts.googleapis.com/css?family=Asap:400.500.700'); */
* {
    display: block;
    align-items: center;
    font-family: Asap, sans-serif;
    color: black;
    scroll-behavior: smooth;
    margin-left: auto;
    margin-right: auto;
}

#profilepic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 375px;
    height: 230px;
}

#search {
    width: 400px;
    height: 25px;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    max-width: 124px;
    margin: 12px;
    transition: .15s all ease-in-out;
    &:hover {
        transform: scale(1.1);
    }
    a {
        text-decoration: none;
        padding: 12px;
        color: #03A9F4;
        font-size: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            height: 100px;
        }
        small {
            font-size: 10px;
            padding: 4px;
        }
    }
}

.sprites {
    float: left;
    width: 80px;
    height: 80px;
}

.text {
    text-align: center;
}

.wrapper {
    display: block;
    max-width: 450px;
    flex-wrap: nowrap;
    padding-top: 12px;
}
