<!DOCTYPE html>
<html>
<head>
    <title>UlquiorraTCG</title>
    <link rel="stylesheet" href="styles1.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/
smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css">
    <!-- <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/
libs/jqueryui/1.10.4/jquery-ui.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
</head>

<body>
    <div id="root">
        <div class="tabs">
            <ul>
                <!-- Tabs for each task -->
                <li :class="toShow == 'home' ? 'is-active':''"><a @click="toShow = 'home'">Home</a></li>
                <li :class="toShow == 'decks' ? 'is-active':''"><a @click="toShow = 'decks'">Decks</a></li>
                <li :class="toShow == 'blog' ? 'is-active':''"><a @click="toShow = 'blog'">Blog</a></li>
            </ul>
        </div>

        <div class="tabContainer">
            <!-- Home tab -->
            <div class="tabContent" id="home" v-if="toShow == 'home'">
                <img src="profilepic.jpg" alt="profilepic" id="profilepic"></img>
                <article class="message is-info">
                    <div class="message-body">
                        Hey my name is Jeremy and I'm from Sydney, Australia.
                        I've been playing Pokemon competitively for almost 6 years now and
                        this is my blog to showcase the decks I play and tournament runs I go through!
                        My other hobbies include: Photography, pool, coding, tennis and gaming!
                        My goals this season are to: get Day 2 at an IC, get Top 8 APAC and to earn a paid trip to Germany!
                    </div>
                </article>

                <p class="text"> <b>2019 CP: 152/250</b> </p>
                <p class="text"> <b>2019 Q2: 105</b> </p>
                </br>
                <p class="text"> <b>Achievements:</b> </p>
                <div v-for="achievement in achievements">
                    <ul class="text">{{ achievement }}</ul>
                </div>
                </br>
            </div>

            <!-- Decks tab -->
            <div class="tabContent" id="decks" v-if="toShow == 'decks'">
                WIP, decks I play and lists will be on here!
                </br><input id="search" placeholder="Search by deck" v-model="search">
                </br> Finds: {{ search }}
                <div class="wrapper">
                    <div class="card" v-for="deck in filteredList" @click="showModal = true; id = deck.id">
                        <div v-for="img in deck.sprites">
                            <img class="sprites" v-bind:src="img"/>
                        </div>
                        </br>
                        </br>
                        </br>
                        </br> <b> {{ deck.name }} </b>
                        </br> {{ deck.tournament }}
                        </br> {{ deck.date }}
                    </div>

                    <modal v-if="showModal" @close="showModal = false">
                        <template slot="header">{{ deckCol[id].name }} ({{ deckCol[id].tournament}})</template>
                        <template slot="body" v-for="Pokemon in deckList[id].Pokemon"><ul>{{ Pokemon }}</ul></template>
                        <template slot="body" v-for="Trainers in deckList[id].Trainers"><ul>{{ Trainers }}</ul></template>
                        <template slot="body" v-for="Energy in deckList[id].Energy"><ul>{{ Energy }}</ul></template>
                    </modal>
                </div>
            </div>

            <!-- Blog tab -->
            <div class="tabContent" id="blog" v-if="toShow == 'blog'">
                WIP, but there will be blog posts added on here about tournaments,
                observations and what not!
            </div>

        </div>
    </div>

    <script src="app.js"></script>
</body>
<html>
